@import url('https://fonts.googleapis.com/css2?family=Junge&family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


.home {
  height: 100vh;
  width: 100vw;
  background-color: #F5EBE0;
}

.text {
  color: #8F5B3C;
  padding-top: 40vh;
  text-align: center;
  font-size: 5em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -5%;
}

@media (max-width: 40em) {
  .text {
    font-size: 3em;
  }

}