@import url('https://fonts.googleapis.com/css2?family=Junge&family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  min-height: 100vh;
}

/* CUSTOM STYLES */
.container {
  padding: 0 5vw;
}

.bgColor {
  background-color: #F5EBE0;
}

.bracketTitle {
  color: #8F5B3C;
  font-weight: 700;
  letter-spacing: -5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  letter-spacing:  -0.05em;
}

.bracketThe {
  color: #512A13;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.jumbotron {
  height: calc(100vh + 5em);
  background-image: url('/assets/jumbotron.jpg');
  background-size: cover;
  z-index: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.slantedSquare {
  width: 40em;
  padding: 0 0 0 8em;
  height: 130vh;
  margin-left: -5em;
  background-color: #8F5B3C;
  transform: rotate(10deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slantedSquare p {
  left: 500px;
  padding-right: 50px;
  margin-bottom: 80px;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
  color: white;
  transform: rotate(-10deg);
  font-size: 44px;
}

.slantedSquare2 {
  width: 130vw;
  height: 30vh;
  background-color: #F5EBE0;
  transform: rotate(5deg);
  align-self: flex-end;
  margin-left: -60vw;
  margin-bottom: -18vh;
}

.mainBody {
  max-height: 60vh;
  width: 100vw;
  background-color: #F5EBE0;
  z-index: 1;
  position: relative;
  z-index: 1;
}

.contentHeader {
  justify-content: center;
}

.contentHeader p {
  text-align: center;
}

.bracketSubtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #3b211e;
}

.jungeText {
  font-family: 'Libre Baskerville', serif;
  display: none;       /* This is to hide */
  color: black;
  font-size: 36px;
  max-width: 45vw;
  margin: auto;
  padding-top: 1em;
  font-weight: 700;
}

.descText {
  color: black;
  max-width: 50vw;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  padding-top: 1em;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.footer {
  /* background-color: grey; */
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  color: #512A13;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  opacity: 0.5;
  padding: 1em;
  background-color: #F5EBE0;
}


/* END OF CUSTOME STYLES */

@media (max-width: 40em) {
  .slantedSquare {
    transform: rotate(0deg);
    max-height: 50vh;
    opacity: 0.8;
  }

  .slantedSquare p {
    transform: rotate(0deg);
    margin: auto;
  }

  .slantedSquare2{
    display: none;
  }

  .descText {
    max-width: 80vw;
    font-size: 16px;
  }

  .contentHeader {
    padding-top: 10px;
  }
  

  
}